<div class="row">
  <div class="col-md-12">

    <%= link_to('Clean Cart', clean_cart_path ,
                method: :post , class: "pull-right",
                style: "text-decoration: underline;",
                data: { confirm: "You sure you want to clean the cart？"} )%>

    <h2> Cart </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product Information</th>
          <th>Unit price</th>
          <th>Quantity</th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody>

        <% current_cart.cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= link_to product_path(cart_item.product) do %>
                <%= image_tag("https://picsum.photos/id/#{cart_item.product.price}/100/130", class: "thumbnail") %>
              <% end %>
            </td>
            <td>
              <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
            </td>
            <td>
              <%= cart_item.product.price %>
            </td>
            <td>
              <% cart_item = current_cart.cart_items.find_by(product_id: cart_item.product_id) %>
              <%= form_for cart_item, url: cart_item_path(cart_item.product_id) do |f| %>
                <%= f.select :quantity, 1..10 %>
                <%= f.submit "Update", data: { disable_with: "Submiting..." } %>
              <% end %>
            </td>
            <td>
              <%= link_to cart_item_path(cart_item.product_id), method: :delete do %>
                Remove
              <% end %>
             </td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <br>

    <div class="total clearfix">
      <span class="pull-right">
         <span> Total: <%= current_cart.total_price %> NTD </span>
      </span>
    </div>

    <hr>

    <div class="checkout clearfix">
      <%= link_to('Check Confirm', "#", class: "btn btn-lg btn-success pull-right") %>
    </div>
  </div>
</div>
