<h1><%= @post.name %></h1>

<%= simple_format @post.description %>

<%= form_tag post_path(@post), :method => :get do %>
  <p>
    <%= text_field_tag "keyword", "", :size => 50 %>
    <%= submit_tag "Search" %>
  </p>
<% end %>

<p>
  <%= link_to 'sort Desc', post_path(@post, sort: 'id DESC') %>
  <%= link_to 'sort ASC', post_path(@post, sort: 'id ASC') %>
</p>

<% @comments.each do |comment| %>
  <div id="comment-<%= comment.id%>" class="panel panel-default <%= (comment.highlight_at.present?)? "highlight" : "" %>">
    <div class="panel-heading">
      <%= user_avatar_link(comment.author) %>
    </div>

    <div class="panel-body">
      <%= comment.content %>
    </div>

    <div class="panel-footer text-right">
      <%= comment.created_at.to_s %>

      <% if current_user && current_user.admin? %>
        <%= link_to "Highligh", highlight_post_comment_path(@post, comment), :class => "btn btn-default" %>
      <% end %>

      <% if current_user && current_user.admin? %>
        <%= link_to "Remove Highligh", remove_highlight_post_comment_path(@post, comment), :class => "btn btn-default" %>
      <% end %>

      <% if comment.can_deleted_by(current_user) %>
        <%= link_to "Delete", post_comment_path(@post, comment), :data => { :confirm => "Are you sure?"}, :method => :delete, :class => "btn btn-danger" %>
      <% end %>
    </div>
  </div>
<% end %>

<hr>

<%= form_for [@post, Comment.new] do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Comment", :class => "btn btn-primary" %>
  </div>
<% end %>
